<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TPO_instrukcije.TPO_instrukcije" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<application android:label="TPO instrukcije" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>